.master-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25%;
    height: 100vh;
}

.master-container p{
    margin: 0;
    padding: 40px;
    font-size: 48px;
}

.button-active{
    width: 200px;
    height: 100px;
    font-size: 20px;
    font-weight: bolder;

    background-color: #f8f1e9;
    border: none;
    color: #ff1f4c;
}

.button-inactive{
    width: 200px;
    height: 100px;
    font-size: 20px;
    font-weight: bolder;

    background-color: #f8f1e9;
    border: none;
    color: #000000;
}