.master-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25%;
}

.master-container p{
    margin: 0;
    padding: 15px;
    font-size: 24px;
}

.button-active{
    width: 60px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;

    background-color: #f8f1e9;
    border: none;
    color: #ff1f4c;
}

.button-inactive{
    width: 60px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;

    background-color: #f8f1e9;
    border: none;
    color: #000000;
}